.form-container form app-input-field {
  margin-bottom: 1.5rem;
}

.form-container form app-button {
  margin: 2rem auto 0;
}

.error-message {
  height: 2.5rem;
  width: 15rem;
  color: var(--color-error);
  text-align: center;
  font-size: clamp(0.625rem, 0.5417rem + 0.3704vw, 0.875rem);
  align-self: center;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: clamp(0.625rem, 0.5208rem + 0.463vw, 0.9375rem);
  color: var(--color-secondary-dark);
}


