<div class="table-container">
  <table class="data-table">
    <thead>
      <tr>
        <ng-container *ngFor="let column of config.columns">
          <th 
            [class]="'header-' + (column.headerAlign || 'left')"
            [style.text-align]="column.headerAlign || 'left'">
            {{ column.label }}
          </th>
        </ng-container>
        <th class="actions-header" *ngIf="config.showActions">
          <i class="fa-solid fa-bars"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedData">
        <ng-container *ngFor="let column of config.columns">
          <td 
            [class]="'cell-' + (column.cellAlign || 'left')"
            [style.text-align]="column.cellAlign || 'left'">
            <ng-container *ngIf="column.type === 'user'">
              <ng-container *ngIf="getUserInfo(getValue(item, column.key)) as userInfo">
                <div class="user-info">
                  <div class="user-avatar">
                    <ng-container *ngIf="userInfo.photo_url; else initials">
                      <img [src]="userInfo.photo_url" [alt]="userInfo.name">
                    </ng-container>
                    <ng-template #initials>
                      {{ getInitials(userInfo.name) }}
                    </ng-template>
                  </div>
                  <span>{{ userInfo.name }}</span>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!column.type">
              {{ getValue(item, column.key) }}
            </ng-container>
          </td>
        </ng-container>
        <td class="actions-cell" *ngIf="config.showActions">
          <div class="actions">
            <app-action-button
              *ngFor="let button of actionButtons"
              [config]="getButtonConfig(button, getItemId(item))"
              (action)="handleAction(button, item)"
            ></app-action-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination" *ngIf="config.totalItems && config.totalItems > (config.pageSize || 10)">
    <button 
      class="pagination-button"
      [disabled]="!config.currentPage || config.currentPage === 1"
      (click)="onPageChange((config.currentPage || 1) - 1)">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <span class="page-info">
      Mostrando {{ paginationRange.from }} a {{ paginationRange.to }} de {{ config.totalItems }} registros
    </span>
    <button 
      class="pagination-button"
      [disabled]="!config.currentPage || config.currentPage === totalPages"
      (click)="onPageChange((config.currentPage || 1) + 1)">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</div> 