.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid var(--color-accent-light);
  border-radius: 0.3rem;
  background-color: var(--color-background-dark);
  color: var(--color-neutral-white);
  font-size: clamp(1.125rem, 1.0817rem + 0.1923vw, 1.25rem);
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  position: relative;
}
.input-field::placeholder {
  color: var(--color-accent-dark);
}
.input-field:focus {
  border: 2px solid var(--color-accent-light);
  outline: none;
  border-radius: 0.3rem;
  background-color: var(--color-background-light);
  color: var(--color-accent-dark);
}

.input-field:hover {
  border: 2px solid var(--color-accent-light);
  outline: none;
  border-radius: 0.3rem;
  background-color: var(--color-background-light);
  color: var(--color-accent-dark);
}

.input-field:focus::placeholder {
  color: var(--color-background-light);
  transition: all 0.2s ease;
}
