.input-field {
  width: 100%;
  outline: none;
  border-radius: 0.3rem;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  position: relative;
}

.input-field-primary {
  border: 2px solid var(--color-accent-light);
  background-color: var(--color-background-dark);
  color: var(--color-neutral-white);
}

.input-field-primary::placeholder {
  color: var(--color-accent-dark);
}

.input-field-primary:hover {
  border: 2px solid var(--color-accent-light);
  background-color: var(--color-background-light);
  color: var(--color-accent-dark);
}

.input-field-primary:focus {
  border: 2px solid var(--color-accent-light);
  background-color: var(--color-background-light);
  color: var(--color-accent-dark);
}

.input-field-primary:focus::placeholder {
  color: var(--color-background-light);
  transition: all 0.2s ease;
}



.input-field-secondary {
  border: 1px solid var(--color-neutral-black);
  color: var(--color-neutral-black);
  font-size: clamp(0.5rem, 0.4449rem + 0.339vw, 0.75rem);
  font-weight: normal;
}

.input-field-secondary::placeholder {
  color: var(--color-accent-dark);
}

.input-field-secondary:hover {
  border-color: var(--color-accent-light);
  background-color: var(--color-background-light);
  color: var(--color-accent-dark);
}

.input-field-secondary:focus {
  border-color: var(--color-accent-light);
  background-color: var(--color-background-light);
  color: var(--color-accent-dark);
}

.input-field-secondary:focus::placeholder {
  color: var(--color-background-light);
  transition: all 0.2s ease;
}



.input-field-large{
  padding: 0.75rem;
  font-size: clamp(1.125rem, 1.0817rem + 0.1923vw, 1.25rem);
}

.input-field-medium{
  padding: 0.5rem;
  font-size: clamp(0.875rem, 0.8317rem + 0.1923vw, 1rem);
}

@media (max-width: 768px) {
  .input-field-large {
    padding: 0.5rem;
  }
}
@media (max-width: 480px) {
  .input-field-large {
    padding: 0.25rem;
  }
}





.dropdown-selector {
  margin-bottom: 1.5rem;
  position: relative;
  border-radius: 0.3rem;
}

.dropdown-selector-primary{
  border: 2px solid var(--color-accent-light);
  background-color: var(--color-background-dark);
  color: var(--color-neutral-white);
}

.dropdown-selector-primary .dropdown-button{
  background-color: var(--color-background-dark);
  color: var(--color-neutral-white);
  border-radius: 0.3rem;
}

.dropdown-selector-primary .dropdown-button:hover{
    background-color: var(--color-background-light);
    color: var(--color-accent-dark);
    transition: transform 0.2s ease;
}

.dropdown-selector-primary .dropdown-button:hover .dropdown-arrow{
    color: var(--color-accent-dark);
}

.dropdown-selector-primary .dropdown-arrow{
    position: absolute;
    right: 1rem;
    font-size: clamp(0.875rem, 0.8317rem + 0.1923vw, 1rem);
    color:var(--color-neutral-white);
    transition: transform 0.2s ease;
}

.dropdown-selector-primary .options-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    background-color: var(--color-background-light);
    border: 1px solid var(--color-accent-light);
    border-radius: 0.3rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.dropdown-selector-primary .option {
  padding: 0.75rem;
  color: var(--color-accent-dark);
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: left;
}

.dropdown-selector-primary .option:hover {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
}

.dropdown-selector-primary .option.selected {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
}

.dropdown-selector-primary .dropdown-button{
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-selector-large .dropdown-button{
  padding: 0.75rem;
  font-size: clamp(1.125rem, 1.0817rem + 0.1923vw, 1.25rem);
}

@media (max-width: 768px) {
  .dropdown-selector-large .dropdown-button {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .dropdown-selector-large .dropdown-button {
    padding: 0.25rem;
  }
}

@media (max-width: 360px) {
  .dropdown-selector-primary .dropdown-arrow {
    display: none;
  }
}













