.search-container {
  border: none;
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-primary-dark);
} 


.search-input {
  width: 100%;
  border: none;
  outline: none;
}

.search-container-primary .search-input {
  font-size: clamp(14px, 1.2vw, 16px);
  border: 1px solid var(--color-neutral-gray-dark);
  border-radius: 4px;
  background-color: var(--color-primary-light);
}

.search-container-large .search-input {
  padding: 8px 12px 8px 35px;
}

.search-container-secondary .search-input {
  font-size: clamp(0.625rem, 0.5417rem + 0.3704vw, 0.875rem);
  border-radius: 4px;
  background-color: var(--color-neutral-white);
}

.search-container-secondary .search-input::placeholder {
  color: var(--color-neutral-gray-light);
}

.search-container-secondary .search-icon {
  color: var(--color-neutral-gray-light);
}

.search-container-secondary .search-input:focus {
  border-color: var(--color-accent-light);
  color: var(--color-accent-dark);
}

.search-container-secondary:focus-within .search-icon {
  color: var(--color-neutral-white);
  transition: color 0.3s ease;
}

.search-container-secondary .search-input:focus::placeholder {
  color: var(--color-neutral-white);
  transition: color 0.3s ease;
}


.search-container-medium .search-input {
  padding: 8px 12px 8px 35px;
}


.search-input:focus {
  outline: none;
}


