<div class="search-container" 
[class.search-container-primary]="type === 'primary'"
[class.search-container-secondary]="type === 'secondary'"
[class.search-container-small]="size === 'small'"
[class.search-container-medium]="size === 'medium'"
[class.search-container-large]="size === 'large'">
  
  <input 
    type="text" 
    [placeholder]="placeholder" 
    (input)="onSearch($event)"
    class="search-input"
    [value]="searchTerm">
  <span class="material-icons search-icon">search</span>
</div> 