<div class="modal-overlay">
  <div class="modal-content">
    <h2>{{ title }}</h2>
    <app-form-container *ngIf="inputFields.length > 0">
      <form (ngSubmit)="onConfirm()">
        <div *ngFor="let field of inputFields" class="form-group">
          <app-input-field [type]="field.type" [value]="field.value"></app-input-field>
        </div>
      </form>
    </app-form-container>
    <div class="modal-buttons">
      <app-button 
        type="secondary" 
        size="small" 
        backgroundColor="red" 
        (click)="onCancel()">{{ cancelLabel }}</app-button>
      <app-button 
        type="secondary" 
        size="small" 
        backgroundColor="purple" 
        (click)="onConfirm()">{{ confirmLabel }}</app-button>
    </div>
  </div>
</div> 