<div class="modal-overlay" *ngIf="show">
  <div class="modal-content">
    <app-form-container
      [title]="title"
      [inputFields]="inputFields"
      [submitButtonConfig]="submitButtonConfig"
      [cancelButtonConfig]="cancelButtonConfig"
      [form]="form"
      [apiService]="apiService"
      [apiMethod]="apiMethod"
      [apiServiceParams]="apiServiceParams"
      [responseDataKey]="responseDataKey"
      [successMessage]="successMessage"
      [successRedirect]="successRedirect"
      [apiErrorMessage]="apiErrorMessage"
      (onSubmit)="handleSubmit($event)"
      (onCancel)="handleCancel()"
      (onSuccess)="handleSuccess($event)"
      (onError)="handleError($event)"
    ></app-form-container>
  </div>
</div> 