<button
  class="button"
  [class.primary]="buttonConfig.type === 'primary'"
  [class.secondary]="buttonConfig.type === 'secondary'"
  [class.outline]="buttonConfig.type === 'outline'"
  [class.purple]="buttonConfig.backgroundColor === 'purple'"
  [class.green]="buttonConfig.backgroundColor === 'green'"
  [class.red]="buttonConfig.backgroundColor === 'red'"
  [class.light-blue]="buttonConfig.backgroundColor === 'light-blue'"
  [class.small]="buttonConfig.size === 'small'"
  [class.medium]="buttonConfig.size === 'medium'"
  [class.large]="buttonConfig.size === 'large'"
  [class.full-width]="buttonConfig.fullWidth"
  [disabled]="buttonConfig.disabled"
  (click)="onClick()"
  [title]="buttonConfig.tooltip"
  tooltip="buttonConfig.tooltip? buttonConfig.tooltip : buttonConfig.label"
>
  <span *ngIf="!buttonConfig.loading" class="button-content">
    <i *ngIf="buttonConfig.icon" [class]="getIconClass() + ' ' + getColorClass()"></i>
    <span *ngIf="buttonConfig.label">{{ buttonConfig.label }}</span>
  </span>
  <span *ngIf="buttonConfig.loading" class="loading-spinner"></span>
</button>
