.button  {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s ease;
  color: var(--color-neutral-white);
}

.secondary:disabled {
  background-color: var(--color-neutral-gray-dark);
  border-color: var(--color-neutral-gray-dark);
  color: var(--color-neutral-white);
  cursor: default;
}

.primary {
  border-radius: 0.9rem;
}

.primary:hover:not(:disabled) {
    border-color: var(--color-primary-base);
  }

.secondary {
  border-radius: 0.3rem;
}

.secondary:hover:not(:disabled) {
    transform: scale(1.05);
  }


.large {
  min-width: 8rem;
  min-height: 2.5rem;
  font-size: clamp(1.125rem, 1.0817rem + 0.1923vw, 1.25rem);
  padding: 1rem 0.8rem;
  font-weight: bold;
}

.medium {
  font-size: clamp(0.875rem, 0.8317rem + 0.1923vw, 1rem);
  padding: 0.5rem 1.2rem;
}

.small {
  min-width: 5rem;
  min-height: 1.8rem;
  font-size: clamp(0.625rem, 0.5817rem + 0.1923vw, 0.75rem);
  padding: 0.2rem 0.5rem;
}

.outline.small, .outline.medium, .outline.large {
  min-width: auto;
  min-height: auto;
}

.purple {
  background-color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
}

.green {
  background-color: var(--color-status-success);
  border: 2px solid var(--color-status-success);
}

.red {
  background-color: var(--color-status-danger);
  border: 2px solid var(--color-status-danger);
}





.loading-spinner {
  border: 2px solid var(--color-neutral-white);
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.large .loading-spinner {
  width: 1.7rem;
  height: 1.7rem;
}

.medium .loading-spinner {  
  width: 1.5rem;
  height: 1.5rem;
}

.small .loading-spinner { 
  width: 0.825rem;
  height: 0.825rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .large {
    padding: 0.8rem 0.6rem;
    min-width: 6rem;
    min-height: 2rem;
  }
  .small {
    min-width: 4rem;
    min-height: 1.5rem;
  }

  .small .loading-spinner {
    width: 0.6rem;
    height: 0.6rem;
  }
}

@media (max-width: 360px) {
  .primary {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }
  .large {
    min-width: 5rem;
    min-height: 1.8rem;
  } 
  .medium {
    min-width: 4rem;
    min-height: 1.5rem;
  }
  .small {
    min-width: 3rem;
    min-height: 1rem;
  }
  .small .loading-spinner {
    width: 0.5rem;
    height: 0.5rem;
  }
}

.button.outline {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
}

.button.outline .button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.outline .button-content i {
  font-size: clamp(1rem, 0.9567rem + 0.4vw, 1.5rem);
  transition: font-size 0.2s ease;
}

.button.outline:hover .button-content i {
  font-size: clamp(1.25rem, 1.2067rem + 0.4vw, 1.75rem);
}

.button.outline.small {
  padding: 0.375rem;
}

.button.outline.small .button-content i {
  font-size: clamp(0.75rem, 0.7067rem + 0.4vw, 1.25rem);
  transition: font-size 0.2s ease;
}

.button.outline.small:hover .button-content i {
  font-size: clamp(1rem, 0.9567rem + 0.4vw, 1.5rem);
}

.button.outline.medium {
  padding: 0.5rem;
}

.button.outline.medium .button-content i {
  font-size: clamp(1rem, 0.9567rem + 0.4vw, 1.5rem);
  transition: font-size 0.2s ease;
}

.button.outline.medium:hover .button-content i {
  font-size: clamp(1.25rem, 1.2067rem + 0.4vw, 1.75rem);
}

.button.outline.large {
  padding: 0.625rem;
}

.button.outline.large .button-content i {
  font-size: clamp(1.25rem, 1.2067rem + 0.4vw, 1.75rem);
  transition: font-size 0.2s ease;
}

.button.outline.large:hover .button-content i {
  font-size: clamp(1.5rem, 1.4567rem + 0.4vw, 2rem);
}

.button-content .info {
  color: var(--color-status-info);
}

.button-content .danger {
  color: var(--color-status-danger);
}






