<button
  class="button"
  [class.primary]="buttonConfig.type === 'primary'"
  [class.secondary]="buttonConfig.type === 'secondary'"
  [class.purple]="buttonConfig.backgroundColor === 'purple'"
  [class.green]="buttonConfig.backgroundColor === 'green'"
  [class.red]="buttonConfig.backgroundColor === 'red'"
  [class.small]="buttonConfig.size === 'small'"
  [class.medium]="buttonConfig.size === 'medium'"
  [class.large]="buttonConfig.size === 'large'"
  [class.full-width]="buttonConfig.fullWidth"
  [disabled]="buttonConfig.disabled"
  
>
  <span *ngIf="!buttonConfig.loading" class="button-content">
    {{ buttonConfig.label }}
  </span>
  <span *ngIf="buttonConfig.loading" class="loading-spinner"></span>
</button>
