.login-page {
    background-color: var(--color-secondary-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.logo-wrapper {
    position: absolute;
    top: 1.75rem;
    left: 1.75rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form app-button {
    width: 57%;
    margin: 4rem auto 0;
    display: block;
    text-align: center;
}

form app-input-field {
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    form app-input-field {margin-bottom: 1rem;}
    .login-page {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    form app-input-field {margin-bottom: 0.5rem;}
    .login-page {
        justify-content: flex-end;
    }
}


@media (max-width: 768px) {
    form app-button {margin: 2rem auto 0;}
}

@media (max-width: 480px) {
    form app-button {margin: 1rem auto 0;}
}


